openapi: 3.1.0
info:
  title: Salesgraph Platform Status API
  description: 'The same GTM research and audit engine behind the Salesgraph MCP server, exposed as a small REST
    API under `/api/v1`. Command endpoints use API key authentication and return markdown (`Content-Type: text/markdown`)
    on success; OMS endpoints return JSON; errors are returned as JSON. Synchronous commands (research, competitors,
    help) return the markdown result inline; asynchronous audits (gtm-audit, audit) return a run id to poll. The
    OMS (Opportunity Management System) endpoints query the organization''s own visible sales objects, traverse
    their relationships, and manage continuous research watches. A separate unauthenticated Status API at `/api/status`
    publishes component health.

    '
  version: v1
  contact:
    name: Salesgraph Support
    email: support@salesgraph.com
    url: https://salesgraph.com/support
  x-provenance:
    generated: '2026-08-13'
    method: generated
    source: https://docs.salesgraph.com/reference/rest-api.md
    note: 'Faithfully modeled from the published Salesgraph REST API reference plus the provider''s own Agent Skill
      at docs.salesgraph.com/.well-known/agent-skills/salesgraph/skill.md. The provider''s docs.salesgraph.com/api-reference/openapi.json
      is STILL a Mintlify "OpenAPI Plant Store" placeholder (re-probed 2026-08-13, HTTP 200) and was NOT harvested.
      Round 2 added the OMS endpoints, the org-audit poll, and the public /api/status endpoint, all of which the
      provider documented after the round-1 pass.

      '
servers:
- url: https://salesgraph.com
  description: Production
security:
- bearerAuth: []
- apiKeyAuth: []
tags:
- name: Status
  description: Public, unauthenticated component health for the Salesgraph platform.
paths:
  /api/status:
    get:
      operationId: getPlatformStatus
      summary: Get platform status
      description: 'Public, unauthenticated component health for the Salesgraph platform — the same data the human
        status page at https://salesgraph.com/status renders. No API key is required.

        '
      tags:
      - Status
      security: []
      responses:
        '200':
          description: Current platform status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformStatus'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Send your Salesgraph API key as `Authorization: Bearer sg_live_...`.'
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: 'Alternative header — send your Salesgraph API key as `x-api-key: sg_live_...`.'
  schemas:
    PlatformStatus:
      type: object
      description: Public platform status document.
      properties:
        generatedAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        headline:
          type: string
        summary:
          type: string
        overallStatus:
          type: string
          example: operational
        activeIncidentCount:
          type: integer
        components:
          type: array
          items:
            $ref: '#/components/schemas/StatusComponent'
        activeIncidents:
          type: array
          items:
            type: object
        incidentHistory:
          type: array
          items:
            type: object
    StatusComponent:
      type: object
      description: One monitored platform component.
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        status:
          type: string
        lastCheckedAt:
          type: string
          format: date-time
