openapi: 3.1.0
info:
  title: Salesgraph REST API
  description: >
    The same GTM research and audit engine behind the Salesgraph MCP server, exposed as a
    small REST API under `/api/v1`. Command endpoints use API key authentication and return
    markdown (`Content-Type: text/markdown`) on success; OMS endpoints return JSON; errors are
    returned as JSON. Synchronous commands (research, competitors, help) return the markdown
    result inline; asynchronous audits (gtm-audit, audit) return a run id to poll. The OMS
    (Opportunity Management System) endpoints query the organization's own visible sales
    objects, traverse their relationships, and manage continuous research watches. A separate
    unauthenticated Status API at `/api/status` publishes component health.
  version: v1
  contact:
    name: Salesgraph Support
    email: support@salesgraph.com
    url: https://salesgraph.com/support
  x-provenance:
    generated: '2026-08-13'
    method: generated
    source: https://docs.salesgraph.com/reference/rest-api.md
    note: >
      Faithfully modeled from the published Salesgraph REST API reference plus the provider's own
      Agent Skill at docs.salesgraph.com/.well-known/agent-skills/salesgraph/skill.md. The
      provider's docs.salesgraph.com/api-reference/openapi.json is STILL a Mintlify "OpenAPI Plant
      Store" placeholder (re-probed 2026-08-13, HTTP 200) and was NOT harvested. Round 2 added the
      OMS endpoints, the org-audit poll, and the public /api/status endpoint, all of which the
      provider documented after the round-1 pass.
servers:
  - url: https://salesgraph.com
    description: Production
security:
  - bearerAuth: []
  - apiKeyAuth: []
tags:
  - name: Commands
    description: The command catalog and synchronous/asynchronous command execution.
  - name: Runs
    description: Polling asynchronous audit runs.
  - name: Audit
    description: The org audit shortcut.
  - name: OMS
    description: >
      Opportunity Management System — query the organization's visible sales objects, traverse
      their relationships, inspect provenance, and manage continuous research watches.
  - name: Status
    description: Public, unauthenticated component health for the Salesgraph platform.
paths:
  /api/v1/commands:
    get:
      operationId: listCommands
      summary: List available commands
      description: Returns the markdown command catalog (same content as the help tool).
      tags: [Commands]
      responses:
        '200':
          description: Markdown command catalog.
          content:
            text/markdown:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/commands/{command}:
    post:
      operationId: runCommand
      summary: Run a command
      description: >
        Runs one of `research`, `competitors`, `gtm-audit`, `audit`, or `help`. Send the
        command's arguments as a JSON body. Sync commands return 200 with markdown; async
        commands return 202 with a run id in the `X-Run-Id`/`X-Audit-Id` header.
      tags: [Commands]
      parameters:
        - name: command
          in: path
          required: true
          description: The command to run.
          schema:
            type: string
            enum: [research, competitors, gtm-audit, audit, help]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommandArguments'
      responses:
        '200':
          description: Sync result returned as markdown.
          content:
            text/markdown:
              schema:
                type: string
        '202':
          description: Async run started; poll for the result.
          headers:
            X-Run-Id:
              description: Run id for gtm-audit runs.
              schema:
                type: string
            X-Audit-Id:
              description: Run id for audit runs.
              schema:
                type: string
            X-Run-Status:
              description: Current run status.
              schema:
                type: string
                example: running
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '428':
          $ref: '#/components/responses/OnboardingRequired'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/v1/runs/{kind}/{id}:
    get:
      operationId: pollRun
      summary: Poll an async run
      description: >
        Returns a status markdown line while running and the full result markdown once the run
        is `completed`. The `X-Run-Status` header carries the current status. Returns 404 if the
        id is unknown or belongs to another organization.
      tags: [Runs]
      parameters:
        - name: kind
          in: path
          required: true
          description: The run kind — `gtm-audit` or `audit`.
          schema:
            type: string
            enum: [gtm-audit, audit]
        - name: id
          in: path
          required: true
          description: The run id returned when the run started.
          schema:
            type: string
      responses:
        '200':
          description: Run status line or, once completed, the full result markdown.
          content:
            text/markdown:
              schema:
                type: string
          headers:
            X-Run-Status:
              description: Current run status (running, completed, failed).
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/audit:
    post:
      operationId: startOrgAudit
      summary: Start the org audit shortcut
      description: >
        Starts your org's audit. By default returns 202 with a run id to poll. Pass
        `{"wait": true}` (or `?wait=true`) to block until the audit finishes — this can take
        several minutes and returns 504 if it exceeds the server timeout (the run keeps going).
      tags: [Audit]
      parameters:
        - name: wait
          in: query
          required: false
          description: Block until the audit finishes and return the result inline.
          schema:
            type: boolean
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                wait:
                  type: boolean
      responses:
        '200':
          description: Audit completed inline (when wait=true).
          content:
            text/markdown:
              schema:
                type: string
        '202':
          description: Async audit started; poll for the result.
          headers:
            X-Audit-Id:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '428':
          $ref: '#/components/responses/OnboardingRequired'
        '504':
          description: The synchronous wait exceeded the server timeout; the run keeps going — poll its id.
    get:
      operationId: pollOrgAudit
      summary: Poll an org audit by id
      description: Polls an existing org audit run by id.
      tags: [Audit]
      parameters:
        - name: id
          in: query
          required: true
          description: The org audit run id.
          schema:
            type: string
      responses:
        '200':
          description: Audit status line or, once completed, the full result markdown.
          content:
            text/markdown:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/oms/metadata:
    get:
      operationId: getOmsMetadata
      summary: Get visible OMS metadata
      description: >
        Returns the visible OMS ontology metadata — the object types, links, and properties the
        calling organization can see. Responses are JSON.
      tags: [OMS]
      responses:
        '200':
          description: Visible OMS ontology metadata.
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/oms/search:
    post:
      operationId: searchOmsObjects
      summary: Search visible OMS objects
      description: >
        Searches the visible OMS objects of one type. Returns a page of objects plus a
        `nextPageToken` to continue, or `null` when the page is the last one.
      tags: [OMS]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OmsSearchRequest'
      responses:
        '200':
          description: A page of matching OMS objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OmsObjectPage'
        '400':
          $ref: '#/components/responses/OmsInvalidInput'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/OmsAccessDenied'
  /api/v1/oms/get:
    post:
      operationId: getOmsObject
      summary: Get one visible OMS object
      description: >
        Fetches a single visible OMS object by its type and PUBLIC key (for example
        `domain:acme.com`) — not an internal primary key.
      tags: [OMS]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OmsObjectRef'
      responses:
        '200':
          description: One OMS object.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/OmsInvalidInput'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/OmsAccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/oms/pivot:
    post:
      operationId: pivotOmsObject
      summary: Traverse a visible OMS relationship
      description: >
        Traverses a named link from one OMS object in a given direction — for example from an
        Account to its Opportunities. Returns a page of objects plus a `nextPageToken`.
      tags: [OMS]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OmsPivotRequest'
      responses:
        '200':
          description: A page of linked OMS objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OmsObjectPage'
        '400':
          $ref: '#/components/responses/OmsInvalidInput'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/OmsAccessDenied'
  /api/v1/oms/provenance:
    post:
      operationId: getOmsProvenance
      summary: Get visible object provenance
      description: >
        Returns the data lineage of one OMS object — its properties, relationships, and history,
        with the sources each came from.
      tags: [OMS]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OmsObjectRef'
      responses:
        '200':
          description: Provenance for one OMS object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OmsProvenance'
        '400':
          $ref: '#/components/responses/OmsInvalidInput'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/oms/watches:
    get:
      operationId: listOmsWatches
      summary: List research watches
      description: >
        Lists the manageable continuous research watches for the organization. Pass `id` to fetch
        a single watch. Returns `{ watches, nextCursor }`.
      tags: [OMS]
      parameters:
        - name: id
          in: query
          required: false
          description: Fetch a single watch by id instead of listing.
          schema:
            type: string
      responses:
        '200':
          description: A page of research watches (or one watch when `id` is supplied).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OmsWatchPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createOmsWatch
      summary: Create a research watch
      description: >
        Creates a continuous research watch on an Account or Opportunity. Accepts an
        `idempotencyKey` so a retried create does not produce a duplicate watch. Frequencies run
        from `1h` through 30 days; `lite` watches require a monthly cost cap of at least 3000
        micros and `base` watches at least 10000, both capped at 100000000. A source policy
        accepts up to 25 valid domains per include or exclude list, with no domain in both.
      tags: [OMS]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OmsWatchRequest'
      responses:
        '200':
          description: The created watch object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OmsWatch'
        '400':
          $ref: '#/components/responses/OmsInvalidInput'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/OmsAccessDenied'
    delete:
      operationId: cancelOmsWatch
      summary: Cancel a research watch
      description: Cancels one manageable research watch by id.
      tags: [OMS]
      parameters:
        - name: id
          in: query
          required: true
          description: The watch id to cancel.
          schema:
            type: string
      responses:
        '200':
          description: The cancelled watch object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OmsWatch'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/oms/actions:
    post:
      operationId: requestOmsAction
      summary: Request an approved OMS action
      description: >
        Requests a human-approved OMS action — an opportunity update, a rep note, or a drafted
        follow-up email. Returns 202 with a JSON approval request; the action is not applied
        until a person approves it.
      tags: [OMS]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: The action request payload.
      responses:
        '202':
          description: An approval request was created.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/OmsInvalidInput'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/OmsAccessDenied'
  /api/status:
    get:
      operationId: getPlatformStatus
      summary: Get platform status
      description: >
        Public, unauthenticated component health for the Salesgraph platform — the same data the
        human status page at https://salesgraph.com/status renders. No API key is required.
      tags: [Status]
      security: []
      responses:
        '200':
          description: Current platform status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformStatus'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Send your Salesgraph API key as `Authorization: Bearer sg_live_...`.'
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: 'Alternative header — send your Salesgraph API key as `x-api-key: sg_live_...`.'
  responses:
    Unauthorized:
      description: Missing, malformed, or revoked API key.
      headers:
        WWW-Authenticate:
          schema:
            type: string
            example: Bearer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: unauthorized
    BadRequest:
      description: Invalid arguments.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Unknown command or run id (or an id belonging to another organization).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    OnboardingRequired:
      description: Onboarding required — finish your org's sales profile before running audits.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: Rate limited — back off and retry.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    OmsInvalidInput:
      description: An OMS input validation error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: invalid_input
    OmsAccessDenied:
      description: The caller cannot see or manage the requested OMS resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: access_denied
  schemas:
    CommandArguments:
      type: object
      description: Command-specific arguments plus optional shared context.
      properties:
        topic:
          type: string
          description: Topic or company for the research command.
        company:
          type: string
          description: Company name for the competitors command.
        website:
          type: string
          description: Prospect website (domain or full URL) for the gtm-audit command.
        userContext:
          type: string
          description: Optional extra context passed to the command.
    OmsObjectRef:
      type: object
      required: [type, key]
      description: A reference to one OMS object by type and PUBLIC key.
      properties:
        type:
          type: string
          description: The OMS object type (for example `Account` or `Opportunity`).
          example: Account
        key:
          type: string
          description: The public OMS key, not an internal primary key.
          example: domain:acme.com
    OmsSearchRequest:
      type: object
      required: [type]
      description: A search over visible OMS objects of one type.
      properties:
        type:
          type: string
          description: The OMS object type to search.
        query:
          type: string
          description: The search query.
        pageToken:
          type: string
          description: Continuation token from a previous page.
    OmsPivotRequest:
      type: object
      required: [type, key, link, direction]
      description: A traversal of one named OMS relationship.
      properties:
        type:
          type: string
        key:
          type: string
        link:
          type: string
          description: The relationship name to traverse.
        direction:
          type: string
          description: The direction to traverse the link in.
    OmsObjectPage:
      type: object
      description: A page of OMS objects.
      properties:
        objects:
          type: array
          items:
            type: object
        nextPageToken:
          type: [string, 'null']
          description: Token for the next page, or null on the last page.
    OmsProvenance:
      type: object
      description: Data lineage for one OMS object.
      properties:
        properties:
          type: array
          items:
            type: object
        relationships:
          type: array
          items:
            type: object
        history:
          type: array
          items:
            type: object
    OmsWatchRequest:
      type: object
      required: [target, query, frequency, processor, monthlyCostCapMicros]
      description: A request to create a continuous research watch.
      properties:
        target:
          $ref: '#/components/schemas/OmsObjectRef'
        query:
          type: string
          description: What to monitor.
        purpose:
          type: string
          description: Why the watch exists.
        idempotencyKey:
          type: string
          description: >
            Caller-supplied key that makes a retried create safe — resubmitting the same key does
            not create a second watch.
        frequency:
          type: string
          description: How often the watch runs, from `1h` through 30 days.
          example: 1d
        processor:
          type: string
          enum: [lite, base]
          description: The processor tier, which sets the minimum monthly cost cap.
        sourcePolicy:
          $ref: '#/components/schemas/OmsSourcePolicy'
        monthlyCostCapMicros:
          type: integer
          description: >
            Monthly cost cap in micros — at least 3000 for `lite`, at least 10000 for `base`,
            at most 100000000 for either.
    OmsSourcePolicy:
      type: object
      description: >
        Optional domain allow/deny policy. Each list accepts up to 25 valid domains and a domain
        may not appear in both.
      properties:
        includeDomains:
          type: array
          items:
            type: string
        excludeDomains:
          type: array
          items:
            type: string
    OmsWatch:
      type: object
      description: A continuous research watch.
      properties:
        id:
          type: string
        target:
          $ref: '#/components/schemas/OmsObjectRef'
        query:
          type: string
        frequency:
          type: string
        processor:
          type: string
        monthlyCostCapMicros:
          type: integer
        status:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    OmsWatchPage:
      type: object
      description: A page of research watches.
      properties:
        watches:
          type: array
          items:
            $ref: '#/components/schemas/OmsWatch'
        nextCursor:
          type: [string, 'null']
          description: Cursor for the next page, or null on the last page.
    PlatformStatus:
      type: object
      description: Public platform status document.
      properties:
        generatedAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        headline:
          type: string
        summary:
          type: string
        overallStatus:
          type: string
          example: operational
        activeIncidentCount:
          type: integer
        components:
          type: array
          items:
            $ref: '#/components/schemas/StatusComponent'
        activeIncidents:
          type: array
          items:
            type: object
        incidentHistory:
          type: array
          items:
            type: object
    StatusComponent:
      type: object
      description: One monitored platform component.
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        status:
          type: string
        lastCheckedAt:
          type: string
          format: date-time
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
          description: >
            Machine-readable error code — `unauthorized`, `invalid_input`, `access_denied`, or
            `not_found`.
